.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .content-left {
    min-height: 100vh;
    width: 40%;
    min-width: 400px;
    padding-left: $space;
    padding-right: $space / 2;
  }

  .content-right {
    min-height: 100vh;
    width: 60%;
    padding-right: $space;
    padding-left: $space / 2;
  }
}
