div, * {
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: $fontStack;
  font-size: $fontSize;
  line-height: $lineHeight;
}

a {
  text-decoration: none;

  &.super {
    padding-left: $space / 4;
    padding-right: $space / 4;
    vertical-align: super;
    font-size: .75em;
  }
}

blockquote {
  padding: $space * 2;
  margin: 0;
}
