.page {
  .page__inner {
    width: 100%;
    padding: $space;

    .section {
      margin-bottom: $space * 2;

      .section-title {
        font-size: $fontLarge;
        width: 100%;
        font-family: $fontSerif;
      }
    }

    .notelist {
      padding-left: $space;

      .note {
        width: 100%;
        display: flex;

        a {
          width: $space * 2;
        }
      }
    }

    .reflist {
      width: 100%;
      display: flex;

      .col {
        width: 33.33%;
        padding-left: $space;
        display: flex;
        flex-direction: column;

        .citation {
          .refs {
            padding-left: $space / 2;

            .r {
              padding-right: $space / 2;
            }
          }
        }
      }
    }
  }
}
