.page {
  .page__inner {
    width: 100%;
    padding: $space;

    .section {
      margin-bottom: $space * 2;

      .section-title {
        font-size: $fontLarge;
        width: 100%;
        font-family: $fontSerif;
        border-bottom: 1px solid black;

        &.sub-section {
          border-bottom: none;
        }

        &.main-title {
          font-size: $fontMax;
        }
      }

      .section-paragraph {
      }

      .section-tags {
        display: none;
      }
    }

    .contents {
      width: auto;
      margin-bottom: $space * 2;
      padding-left: $space * 2;

      .item {
        display: flex;
        justify-content: flex-start;

        a {
          padding: $space / 4;
        }

        .item-edits {
          padding-left: $space / 2;
        }

        &.sub-section {
          padding-left: $space * 4;
        }
      }
    }

    .notelist {
      padding-left: $space;

      .note {
        width: 100%;
        display: flex;

        a {
          width: $space * 2;
        }
      }
    }

    .reflist {
      width: 100%;
      display: flex;

      .col {
        width: 33.33%;
        padding-left: $space;
        display: flex;
        flex-direction: column;

        .citation {
          .refs {
            padding-left: $space / 2;

            .r {
              padding-right: $space / 2;
            }
          }
        }
      }
    }
  }
}
