$daySize: 10px;

.ui-wrapper {
  padding: $space;

  #ui-root {
    width: 100%;
    z-index: $zNav;

    .search {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: $space / 2;

      input {
        padding-left: $space / 4;
      }
    }

    .heatmap {
      width: 100%;
      overflow-x: scroll;

      .timeline {
        min-width: 100%;

        .timeline-labels {
          width: 100%;
          display: flex;
          justify-content: flex-start;

          .timeline-labels__label {
            padding-left: $space / 2;
            font-size: $fontSmall;
          }
        }

        .timeline-heatmap {
          min-width: 100%;
          position: relative;
          height: $daySize * 7 + $space;
          padding-top: $space / 2;
          padding-bottom: $space / 2;
          display: flex;
          justify-content: flex-start;
          float: left;

          .year {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .day {
              width: $daySize;
              height: $daySize;
              outline: none;

              &.alt {
                background-color: #f4f4f4;
              }

              &.active {
                border: 1px solid black;
              }

              &.hidden {
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .revision-list {
      margin-top: $space;
      height: 150px;
      overflow-x: hidden;
      overflow-y: scroll;

      .revision-list__inner {
        .item {
          margin-bottom: $space / 2;
          font-size: $fontSmall;
          display: flex;

          &.newest {
            background: $highlight;
          }

          .item__title {
            width: 33%;
          }

          .item__content {
            width: 67%;

            .item__content__rev {
              cursor: pointer;
            }
          }
        }
      }
    }

    .work-area {
      margin-top: $space;
      height: 150px;
      overflow-x: hidden;
      overflow-y: scroll;

      .work-area__inner {
        .item {

        }
      }
    }
  }
}
